@use '../base/utility' as util;

@include util.breakpoint('small') {
  nav h1 {
    font-size: 4rem;
  }
  main .clock-container {
    width: 80vw;
    scroll-behavior: auto;

    p {
      font-size: 4.5rem;
    }
  }
}

@include util.breakpoint('x-small') {
  nav h1 {
    font-size: 3rem;
  }
  main .clock-container {
    width: 80vw;
    scroll-behavior: auto;

    p {
      font-size: 2.5rem;
    }
  }
}
