body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 5rem;
  text-align: center;
}

.clock-container p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 5rem;
  color: $t-color;
  font-weight: 700;
}
