footer {
  display: flex;
  width: 100vw;
  height: 15vh;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  padding: 2.5rem;
  background-color: $d-color;

  p {
    font-size: 2rem;
    a {
      color: $s-color;
    }
    span {
      color: $t-color;
    }
  }
}
