main {
  height: 75vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $p-color;

  .clock-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50rem;
    height: 20rem;
    background-color: $s-color;
    box-shadow: inset 0.2rem 0.4rem 0.5rem $p-color,
      inset -0.2rem -0.4rem 0.5rem $p-color;
  }
}
